@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
	background: #fff;
	margin:0;
	padding:0;
	font-family: 'Open Sans', 'sans-serif';
	font-size: 1.0em;
	color: #666;
	font-weight: 200;
}

* {
	margin:0;
	padding:0;
}

/** element defaults **/
table {
	width: 100%;
	text-align: left;
}

th, td {
	padding: 10px 10px;
}

th {
	color: #666;
	background: #ccc none repeat-x scroll left top;
}

td {
	border-bottom: 1px solid #ccc;
}

code, blockquote {
	display: block;
	border-left: 5px solid #222;
	padding: 10px;
	/* margin-bottom: 20px; */
}
code {
	background-color: #222;
	color:#ccc;
	border: none;
}
blockquote {
	border-left: 5px solid #222;
}

blockquote p {
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	color: #333;
	height: 1%;
}

p {
	line-height: 1.9em;
	/* margin-bottom: 20px; */
}

a {
	color: white;
	border-bottom: 1px solid #111;
	text-decoration: none;
}

a:hover {
	/* border-bottom-color: #333; */
	color: #333;
}

a:focus {
	outline: none;
}


a.button {
    background-color: #3882D6;
    color: #B7D2F0;
    display: inline-block;
    /* border-bottom-color: #215DA1; */
    padding: 8px 15px;
    text-decoration: none;
    text-transform: uppercase;
}

a.button:hover {
	color: #fff;
}

a.button-reversed {
    background-color: #ddd;
	/* border-bottom-color: #999; */
	color: #666;
}

a.button-reversed:hover {
	color: #333;
}

fieldset {
	display: block;
	border: none;
	/* border-top: 1px solid #ccc; */
}

fieldset legend {
	font-weight: bold;
	font-size: 0.9em;
	padding-right: 10px;
	color: #333;
}

fieldset form {
	padding-top: 15px;
}

fieldset p label {
	float: left;
	width: 150px;
}

form input, form select, form textarea {
	padding: 5px;
	color: #333333;
	/* border: 1px solid #ddd; */
	/* border-right:1px solid #ccc; */
	/* border-bottom:1px solid #ccc; */
	background-color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
}

form input.formbutton {
	border: none;
	background: #000;
	color: #ffffff;
	font-weight: bold;
	padding: 6px 10px;
	font-size: 0.8em;
	letter-spacing: 1px;
	width: auto;
	overflow: visible;
}

form.searchform input {
  font-size: 0.9em;
    padding: 6px;
}

form.searchform p {
	margin: 5px 0;
}


span.required {
	color: #ff0000;
}

h1 {
	color: #000;
	font-size: 2.7em;
	text-transform: uppercase;
}

h2 {
	color: #444;
	font-size: 2.2em;
	letter-spacing: -1.5px;
	font-weight: bold;
	padding: 0 0 5px;
	margin: 0;
}

h3 {
	color: #629CDF;
	font-size: 1.9em;
	font-weight: normal;
	margin-bottom: 10px;
	letter-spacing: -1px;
}

h4 {
    color: #555;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
}

h5 {
	padding-bottom: 10px;
	font-size: 1.1em;
	color: #999;
}

ul, ol {
	margin: 0 0 35px 35px;
}

li {
	padding-bottom: 5px;
}

li ol, li ul {
	font-size: 1.0em;
	margin-bottom: 0;
	padding-top: 5px;
}

.width {
	max-width: 1100px;
	margin: 0 auto;
}


#container {
	background-color: #fff;
	width: auto;
	margin: 0 auto;
}

header {
	padding: 110px 0px;
	margin: 0 auto;
	text-align:center;
	background-image: url('../images/1.PNG');
	background-color: #000;
	background-position: left;
	background-repeat: no-repeat;
}


header h1 a, header h1 a:hover {
    color: #eee;
    font-size: 1.4em;
    padding: 15px;
    letter-spacing: -2px;
    /* background-color: rgba(0, 0, 0, 0.8); */
    border-bottom: none;

}


nav {
	height: 80px;
	margin-bottom: 30px;
	width: 100%;
	background-color: #3882D6;
	box-shadow: 0px 4px 5px #e0e0e0;
	border-bottom: 1px solid #fff;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 25px 0 0;
	text-align: center;
}

nav ul li {
	display: inline;
	padding: 0px 18px;
}


nav ul li a {
    color:#d9edf7;
    font-size: 1.2em;
    letter-spacing: 0;
     border-bottom: none;
}


nav ul li a:hover {
	color: #CCDFF5;
	text-decoration: none;
}

nav ul li.selected a,
nav ul li.selected a:hover {
	color: #fff;
}

img {
	max-width: 100%;
	height: auto;
}

#body {
	background: none;
	margin: 5px auto 0;
 	padding: 0;
	clear: both;
}

#content {
    float: left;
}

.two-column {
	width: 66%;
	margin: 0 2%;
}

.three-column {
	width: 46%;
	margin: 0 2%;
}


article {
    padding: 10px 10px 20px 5px;
 }

article h2 {
    padding-bottom: 0;
}

article .article-info {
    color: #c0c0c0;
    font-size: 0.9em;
    letter-spacing: -0.5px;
    padding: 0 0 10px 0;
}

article .article-info a {
	color: #c0c0c0;
	border-bottom-color: #c0c0c0;
}

.sidebar {
	margin-top: 10px;
	text-align : center;
}

.small-sidebar {
   width: 25%;
}

.big-sidebar {
	width: 30%;
}

.left-sidebar {
	float: left;
}

.right-sidebar {
	float: right;
}

.sidebar h4 {
	font-size: 1.4em;
	color: #3882D6;
	padding: 6px 0px;
	letter-spacing: -1px;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar ul li {
	margin-bottom: 20px;
	line-height: 1.9em;
	padding: 10px;
}

.sidebar ul li.bg {
	background-color: #f0f0f0;
}

.sidebar ul li.bg h4 {
	color: #444;
}

.sidebar li ul {
    list-style: none outside none;
    margin: 0px;
}

.sidebar li ul li {
	display: block;
	border-top: none;
	padding: 7px 2px;
	margin: 0;
	line-height: 1.5em;
	font-size: 0.85em;
}

.sidebar ul.blocklist {
	border-top: 1px solid #ddd;
}

.sidebar ul.blocklist li {
	border-bottom: 1px solid #ddd;
	padding: 0;
}

.sidebar ul.blocklist li a {
	border-bottom: 0;
	display: block;
	padding: 12px 10px;
}

.sidebar ul.blocklist li a.selected {
	background-color: #3882D6;
	border: 1px solid #215DA1;
	color: #fff;
	font-weight: bold;
}

.sidebar ul.newslist li {
	padding: 20px 5px;
	border-bottom: 1px solid #ddd;
}

.sidebar ul.newslist p {
	margin-bottom: 0;
}

.sidebar ul.newslist span.newslist-date {
	background-color: #3882D6;
	color: #fff;
	padding: 5px 10px;
}

.sidebar li ul li.text {
	border-bottom: none;
}



.sidebar li ul li a {
	 border-bottom-color: #666;
	color: #666;
}

.sidebar li ul li a:hover {
	 border-bottom-color: #333;
	color: #333;
}


.sidebar li ul li a.readmore {
   font-weight: bold;
}




.clear {
	clear: both;
}

.footer-bottom {
	margin:20px auto 0;
	background: #222;
	border-top: 2px solid #eee;
	color: #ccc;
	font-weight: bold;
	text-align: center;
	color: #ccc;
	font-size: 0.9em;
	margin: 0;
	padding: 10px;
	background-color: #000;
}

.footer-bottom p {
	text-align: center;
}

@media screen and (max-width: 740px) {

	body { font-size: 0.8em; }

	header h1 a, header h1 a:hover { padding: 5px; }

	div#container { width: auto; }

	footer .footer-content ul { margin-bottom: 15px; }

	footer .footer-content ul.endfooter { margin-bottom: 0px; }

	.width { width:auto; padding-left: 10px; padding-right: 10px; }

	#content, aside.sidebar { float: none; width: auto; }

	footer .footer-content ul { width: auto; float: none; }
}


@media screen and (max-width: 540px) {

	body { font-size: 0.8em; }

	header, header h1 a, header h1 a:hover { text-align: center; padding: 10px 0 0 0; font-size: 1.1em; }

	nav ul { margin-top: 0; padding: 10px; }

	nav ul li { float: none; text-align:center;  }

	nav ul li a { margin-top: 0; }

	nav { height: auto; position: relative; }

}


/* Web */

#header {
	width: 1000px;
	height: 60px;
	margin: 0 auto;
	padding: 0px;
}

/* Game Speed LOGO Decoration */
#logo {
	width: 1000px;
	height: 110px;
	margin: 0 auto;
	padding: 30px 20px 0px 20px;
}

/* Game Speed LOGO Decoration with Heading and paragraph Tags*/

#logo h1,#logo p {
	margin: 0px;
	line-height: normal;
	font-weight: normal;
	color: #6A5ACD;

}

/* Game Speed LOGO Decoration with paragraph Tags */

#logo p {
	margin-top: -4px;
	font-size: 13px;
	color: #6A5ACD;

}

/* Game Speed LOGO Decoration with Heading Tags */

#logo h1 {
	font-size: 48px;
	margin-bottom: 5px

}

/* Game Speed LOGO Decoration with Hyperlink Tags*/

#logo a {
	text-decoration: none;
	color: #6A5ACD;

}

/* Game Speed LOGO Decoration with Heading and Hyperlink Tags */

#logo h1 a {
	text-decoration: none;
	color: #D7DF01;
}

/* Decoration of Top/Main Navigation Bar (Menu Content)*/
#menu {
	float: left;
	height: 60px;
}

/* Decoration of Top/Main Navigation Bar with Unordered List Tags (Menu Content)*/

#menu ul {
	margin: 0;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

/* Decoration of Top/Main Navigation Bar with List Tags (Menu Content)*/

#menu li {
	display: block;
	float: left;
}

/* Decoration of Top/Main Navigation Bar with Hyperlink Tags (Menu Content)*/

#menu a {
	display: block;
	float: left;
	height: 32px;
	padding: 12px 20px 0px 20px;
	letter-spacing: -1px;
	text-decoration: none;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #000000;
}

/* Decoration of Top/Main Navigation Bar with :hover Tags (Menu Content)*/

#menu a:hover {
	text-decoration: none;
}

/* Page Display Decoration*/

#page {
	width: 1000px;
	margin: 0 auto;
	padding: 20px 20px 0px 20px;
}

/* Content on the Screen (Products)*/

#content {
	float: right;
	width: 750px;
}

/* Products Display on the Main Content Screen */
.post {
	width: 750px;
	margin-bottom: 20px;
	padding: 20px 0px;
	background: #FFFFFF;
	border-radius: 5px;
}

/* Decoration for Title of Products in the Main Content Screen */

.post .title {
	height: 44px;
	padding: 0px 20px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

/* Decoration for Product Title Links in the Main Content Screen */

.post .title a {
	letter-spacing: -1px;
	text-decoration: none;
	font-size: 30px;
	color: #FF7433;
}

/* Decoration for Products Display in the Main Content Screen */

.post .meta {
	height: 32px;
	margin-top: -10px;
	margin-left: 2px;
	padding: 4px 30px 6px 20px;
	background: url(../images/1.PNG) repeat-x left bottom;
	background-size: fill;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	color: #66665E;
}

/* Decoration for Products Display with span Tags*/

.post .meta span {
	display: block;
	margin-top: -10px;
}

.post .entry {
	padding: 10px 20px;
	overflow-x: auto;

}

.post .links {
	background: #90BF35;
	border: 1px solid #5F817E;
}

/* Decoration for Different Products in Game Speed Store. */

.post .links {
	display: block;
	width: 120px;
	height: 18px;
	margin: 0px 0px 4px 0px;
	padding: 3px 0px 0px 40px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

/* Decoration for Products Reviews in the Main Content Screen */
.post .comments {
	display: block;
	width: 120px;
	height: 18px;
	margin: 0px;
	padding: 3px 0px 0px 40px;
	background: #90BF35;
	border: 1px solid #5F817E;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

#shop_item {
	border-radius: 5px;
	border: 1px solid #000;
	padding: 4px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;


}

/*  Unordered List of Items in the Store Display */

#shop_item ul {
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;

}

/*  Unordered List of Items and List Tags in the Store Display */

#shop_item ul li {
	margin-bottom: 5px;
	margin-top: 6px;
}

/*  Image Display of Products in the Store  */

#shop_item #item img {
	display: block;
	width: 180px;
	height: 160px;
	margin-left: auto;
	margin-right: auto;

}

/* Decoration for Display of Products in the Store  */

#shop_item strong {
	display: block;
	text-align: center;
	margin-bottom: 5px;

}

/* Border Decoration for Display of Products in the Store  */

#shop_item #item {
	border: 1px solid #000;

}

/* Heading Tag for Display of Products in the Store  */

#shop_item h3 {
	text-align: center;
	font-size: 15px;
	margin-bottom: 0;

}

/* Button Decoration for Display of Products in the Store  */

#shop_item button {
	width: 100%;
	margin-bottom: 6px;
	overflow-x: scroll;

}

/* Best Seller Products display on Home Screen*/

#bestseller {
	width: 100%
}

/* Best Seller Products display Table Data Decoration*/

#bestseller td {
	padding-bottom: 20px;
}

/* Buy Now buttons  Decoration for Products in Game Speed*/

.btnbuy {
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	font-family: Arial;
	color: #ffffff;
	font-size: 15px;
	background: #FFCD38;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.btnreview {
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	font-family: Arial;
	color: #ffffff;
	font-size: 15px;
	background: #3498db;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* Buy and Review Buttons Decoration for Products with :hover tags*/

.btnbuy:hover,.btnreview:hover {
	background: #3cb0fd;
	text-decoration: none;
}

/* Product Search Box Decoration ( Upper Right Corner)  */

.input {
	width: 100%;
	height: 20px;
	margin: 5px;
	margin-left: 0px;
}

/* Cart Details Table ( Table Displayed During Check Out)  */

table.gridtable {
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	color: #333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}

/* Decoration for Cart Details with Table Head Tags */

table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}

/* Decoration for Cart Details with Table Data Tags */

table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
